<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javis.app.web.dao.SysAuthApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="javis.app.web.entity.SysAuthApi">
    <result column="id" property="id" />
    <result column="is_deleted" property="isDeleted" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_modified" property="gmtModified" />
        <result column="auth_id" property="authId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="version" property="version" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    is_deleted AS isDeleted,
    gmt_create AS gmtCreate,
    gmt_modified AS gmtModified,
        auth_id AS authId, name, url, version, state
    </sql>

</mapper>
