<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javis.app.web.dao.SysUserUserGroupRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="javis.app.web.entity.SysUserUserGroupRel">
    <result column="id" property="id" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_modified" property="gmtModified" />
        <result column="user_id" property="userId" />
        <result column="user_group_id" property="userGroupId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    gmt_create AS gmtCreate,
    gmt_modified AS gmtModified,
        user_id AS userId, user_group_id AS userGroupId
    </sql>

</mapper>
