<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javis.app.persistent.dao.AuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="javis.app.persistent.entity.Authority">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="role_id" property="oleId" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, role_id AS oleId, type, state, gmt_create, gmt_modified
    </sql>

</mapper>
